<header class="navbar">
    <img class="navbar__logo" src="{{ asset('img/logo/logo_wikut.png')  }}" alt="Logo de Wikut" />
    <h4 class="navbar__brand">Wikut</h4>
    <nav class="navbar__nav">
        <ul class="navbar__links">
            <li class="navbar__item desk">
                New
            </li>
            <li class="navbar__item desk">
                Trending
            </li>
            <li class="navbar__item desk">
                Top
            </li>
            <li class="navbar__item desk">
                Makers
            </li>
            <li class="navbar__item desk">
                Place
            </li>
            <li class="navbar__item desk">
                Encyclopédie
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li class="navbar__item desk">
                <a href="{{ path('app_admin') }}">Admin</a>
            </li>
            {% endif %}
            <li class="navbar__item desk">
                {%  if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <a href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="navbar__item mob">

            </li>
            {% else %}
            <button type="button" class="navbar__item login-btn mob">
                <a class="login-btn--color" href="{{ path('app_login') }}">Connexion</a>
            </button>
            {% endif %}
        </ul>
    </nav>


</header>